<p id="notice"><%= notice %></p>
<p>
  <strong>League:</strong>
  <%= @season.league.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @season.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @season.description %>
</p>

<%= link_to 'Edit', edit_season_path(@season) %> |
<%= link_to 'Back', seasons_path(:league_id => @season.league.id) %>
